# Environments
.env

# Go
/golden-stage-cinema-server/tmp/
/golden-stage-cinema-server/bin/

# Node / Vue
node_modules/
dist/
.DS_Store

# Code Walkthrough
golden-stage-cinema-server/code_walkthrough.md